ul {
    list-style-type: none;
    margin: 0;
    padding-top: 50px;;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        margin-right: 10px;
        width: 20%;
        height: 100px;
        display: flex;

        p {
            background-size: contain;
            padding: 5, 5, 5, 5;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . . ." ". . . . ." ". . . . .";
    min-width: 100%;
    height: auto;
  }

  .mat-form-field {
    margin-right: 12px;
  }